<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title></title>
	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>
<body>

<div id="app">
	<v-formulario></formulario>
</div>

<script type="text/javascript">



//Clase Campo
var Campo=function(parametros){
	this.etiqueta = parametros?this.codificarEntidadesHTML(parametros.etiqueta):undefined
	this.nombre = parametros?parametros.nombre:undefined
	this.valor = parametros?parametros.valor:undefined
	this.evento = parametros?parametros.evento:undefined
	this.UUID = this.generarUUID()
	this.template = ""
	this.componenteBase = {
		props: ['parametros'],
		methods: {
			dispararEvento: function(evento){ this.$emit('change',evento); }
		}
	}
}
Campo.prototype.obtenerNombre=function(){return this.nombre}
Campo.prototype.asignaEtiqueta=function(nuevaEtiqueta){this.etiqueta=this.codificarEntidadesHTML(nuevaEtiqueta); return this}
Campo.prototype.asignaNombre=function(nuevoNombre){this.nombre=nuevoNombre; return this}
Campo.prototype.asignaValor=function(nuevoValor){this.valor=nuevoValor; return this}
Campo.prototype.asignaEvento=function(nuevoEvento){this.evento=nuevoEvento; return this}
Campo.prototype.codificarEntidadesHTML=function(cadena){
	//https://stackoverflow.com/questions/18749591/encode-html-entities-in-javascript
	var encodedStr = cadena.replace(/[\u00A0-\u9999<>\&]/gim, function(i) {
	   return '&#'+i.charCodeAt(0)+';';
	});
	return encodedStr
}
Campo.prototype.generarUUID=function() {
	//https://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
    var d = new Date().getTime();
    if (typeof performance !== 'undefined' && typeof performance.now === 'function'){
        d += performance.now(); //use high-precision timer if available
    }
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        var r = (d + Math.random() * 16) % 16 | 0;
        d = Math.floor(d / 16);
        return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
    });
}
Campo.prototype.encapsularEnFormGroup=function(template){
	var resultado=""
	resultado+=`<b-form-group horizontal label-cols="4" id="fieldset1" :label="parametros.etiqueta">`
    resultado+=this.template
	resultado+=`</b-form-group>`
	return resultado
}
Campo.prototype.obtenerComponente=function(){
	return Vue.extend({
		mixins:[new Campo().componenteBase],
		template: this.encapsularEnFormGroup(this.template)
	});
}
Campo.prototype.registrarComponente=function(objetoDeRegistro){
	objetoDeRegistro[this.obtenerNombre()]=this.obtenerComponente();
}
//Clase Campo FIN



//Clase CampoTexto
var CampoTexto=function(parametros){
	Campo.call(this,parametros)
	this.nombre="vCampoTexto"
	this.template=`<b-form-input type="text" v-model="parametros.valor" v-on:change="dispararEvento"></b-form-input>`
}
CampoTexto.prototype=Object.create(Campo.prototype)
CampoTexto.prototype.constructor=CampoTexto
//Clase CampoTexto FIN



//Clase CampoRango
var CampoRango=function(parametros){
	Campo.call(this,parametros);
	this.nombre="vCampoRango"
	this.valorMinimo=parametros?parametros.valorMinimo:undefined
	this.valorMaximo=parametros?parametros.valorMaximo:undefined
	this.incremento=parametros?parametros.incremento:1
	this.template=`<b-form-input type="range" v-model="parametros.valor" v-on:change="dispararEvento" :min="parametros.valorMinimo" :max="parametros.valorMaximo" :step="parametros.incremento"></b-form-input>`
}
CampoRango.prototype=Object.create(Campo.prototype)
CampoRango.prototype.constructor=CampoRango
CampoRango.prototype.asignaValorMinimo=function(nuevoValorMinimo){this.valorMinimo=nuevoValorMinimo};
CampoRango.prototype.asignaValorMaximo=function(nuevoValorMaximo){this.valorMaximo=nuevoValorMaximo};
CampoRango.prototype.asignaIncremento=function(nuevoIncremento){this.incremento=nuevoIncremento};
//Clase CampoRango FIN



//Clase CampoContrasena
var CampoContrasena=function(parametros){
	Campo.call(this,parametros);
	this.nombre="vCampoContrasena"
	this.template=`<b-form-input type="password" v-model="parametros.valor" v-on:change="dispararEvento"></b-form-input>`
}
CampoContrasena.prototype=Object.create(Campo.prototype)
CampoContrasena.prototype.constructor=CampoContrasena
//Clase CampoContrasena FIN



//Clase CampoCorreo
var CampoCorreo=function(parametros){
	Campo.call(this,parametros);
	this.nombre="vCampoCorreo"
	this.template=`<b-form-input type="email" v-model="parametros.valor" v-on:change="dispararEvento"></b-form-input>`
}
CampoCorreo.prototype=Object.create(Campo.prototype)
CampoCorreo.prototype.constructor=CampoCorreo
//Clase CampoCorreo FIN


//Clase CampoNumero
var CampoNumero=function(parametros){
	Campo.call(this,parametros);
	this.nombre="vCampoNumero"
	this.template=`<b-form-input type="number" v-model="parametros.valor" v-on:change="dispararEvento"></b-form-input>`
}
CampoNumero.prototype=Object.create(Campo.prototype)
CampoNumero.prototype.constructor=CampoNumero
//Clase CampoNumero FIN


//Clase CampoURL
var CampoURL=function(parametros){
	Campo.call(this,parametros);
	this.nombre="vCampoURL"
	this.template=`<b-form-input type="url" v-model="parametros.valor" v-on:change="dispararEvento"></b-form-input>`
}
CampoURL.prototype=Object.create(Campo.prototype)
CampoURL.prototype.constructor=CampoURL
//Clase CampoURL FIN


//Clase CampoTelefono
var CampoTelefono=function(parametros){
	Campo.call(this,parametros);
	this.nombre="vCampoTelefono"
	this.template=`<b-form-input type="tel" v-model="parametros.valor" v-on:change="dispararEvento"></b-form-input>`
}
CampoTelefono.prototype=Object.create(Campo.prototype)
CampoTelefono.prototype.constructor=CampoTelefono
//Clase CampoTelefono FIN


//Clase CampoFecha
var CampoFecha=function(parametros){
	Campo.call(this,parametros);
	this.nombre="vCampoFecha"
	this.template=`<b-form-input type="date" v-model="parametros.valor" v-on:change="dispararEvento"></b-form-input>`
}
CampoFecha.prototype=Object.create(Campo.prototype)
CampoFecha.prototype.constructor=CampoFecha
//Clase CampoFecha FIN


//Clase CampoHora
var CampoHora=function(parametros){
	Campo.call(this,parametros);
	this.nombre="vCampoHora"
	this.template=`<b-form-input type="time" v-model="parametros.valor" v-on:change="dispararEvento"></b-form-input>`
}
CampoHora.prototype=Object.create(Campo.prototype)
CampoHora.prototype.constructor=CampoHora
//Clase CampoHora FIN


//Clase CampoColor
var CampoColor=function(parametros){
	Campo.call(this,parametros);
	this.nombre="vCampoColor"
	this.template=`<b-form-input type="color" v-model="parametros.valor" v-on:change="dispararEvento"></b-form-input>`
}
CampoColor.prototype=Object.create(Campo.prototype)
CampoColor.prototype.constructor=CampoColor
//Clase CampoColor FIN

//Clase Formulario
var Formulario=function(parametros){
	this.campos=parametros.campos
	this.componenteBase={
		methods: {
			dispararEvento: function(campo,evento) { 
				if(typeof campo.evento==="undefined") {

				} else {
					//no usamos typeof campo.evento!=="undefined" porque puede devolver falsos positivos
					this.$emit(campo.evento); 
				}				
				this.$emit('change',evento); 
			}
		},
		data: function(){
			return { campos:parametros.campos }
		},
		template: `
			<!-- vFormulario INICIO -->
			<b-container>
				<template v-for="campo in campos">
					<component :is="campo.nombre" :hey="campo.UUID" :parametros="campo" v-on:change="dispararEvento(campo,$event)"></component>
				</template>
			</b-container>
			<!-- vFormulario FIN -->
			`
	}
}
Formulario.prototype.obtenerRegistroDeComponentes=function(campos){
	var registroDeComponentes={}
	campos.forEach(function(campo){
		campo.registrarComponente(this)
	},registroDeComponentes)
	return registroDeComponentes;
}
Formulario.prototype.obtenerComponente=function(){
	return Vue.extend({
		mixins:[this.componenteBase],
		components:this.obtenerRegistroDeComponentes(this.campos)
	});
}
//Clase Formulario FIN

//todo
//definir un agrupador de campos (un hijo de formulario?)
//agregar un manejador de atajos de teclado para brincar entre campos
//agregar campo de tipo archivo/imagen
//crear un validador y poder pasarlo como parametro a los campos
/*
var campos=[
  	new CampoTexto().asignaEtiqueta("texto").asignaValor("asd").asignaEvento("cambiotexto"),
  	new CampoContrasena({etiqueta:'Contraseña', valor:'qwe', evento:'cambiocontraseña'}),
  	new CampoCorreo({etiqueta:'Correo', valor:'mcclone2001@gmail.com', evento:'cambiocorreo'}),
  	new CampoNumero({etiqueta:'Numero', valor:'123', evento:'cambionumero'}),
  	new CampoURL({etiqueta:'URL', valor:'chiapas.viajes', evento:'cambiourl'}),
  	new CampoTelefono({etiqueta:'Telefono', valor:'9616599617', evento:'cambiotelefono'}),
  	new CampoFecha({etiqueta:'Fecha', valor:'', evento:'cambiofecha'}),
  	new CampoHora({etiqueta:'Hora', valor:'', evento:'cambiohora'}),
  	new CampoRango({etiqueta:'Rango', valor:'', evento:'cambiorango', valorMinimo:0, valorMaximo:10, incremento:1}),
  	new CampoColor({etiqueta:'Color', valor:'', evento:'cambiocolor'})
  	];
*/
var campos=[
	new CampoTexto({etiqueta:"RFC"}),	
	new CampoTexto({etiqueta:"Nombre ó Razón Social"}),	
	new CampoTexto({etiqueta:"Calle"}),	
	new CampoTexto({etiqueta:"Número Interior"}),	
	new CampoTexto({etiqueta:"Número Exterior"}),	
	new CampoNumero({etiqueta:"Código Postal"}),	
	new CampoTexto({etiqueta:"Estado"}),	
	new CampoTexto({etiqueta:"Municipio"}),	
	new CampoTexto({etiqueta:"Colonia"}),	
	new CampoTexto({etiqueta:"País"}),	
	new CampoTexto({etiqueta:"Nombre"}),	
	new CampoTexto({etiqueta:"Correo electrónico"})
]
vFormulario=new Formulario({campos}).obtenerComponente();
var app = new Vue({
  el: '#app',
  components:{
  	vFormulario
  }
})



</script>
</body>
</html>